<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-light float-left " role="button" aria-disabled="true" disabled>
                        <i class="fa fa-align-justify"></i> Danh sách tuyển dụng
                    </button>
                    <button type="button" class="btn btn-light float-right" (click)="add.show()">
                        Thêm mới
                    </button>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tiêu đề</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành phố</th>
                                <th scope="col">Mức lương</th>
                                <th scope="col">Ngày hết hạn</th>
                                <!-- <th scope="col">Ngày sửa</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of all, let i = index" (dblclick)="[edit.show(),getById(r.id)]">
                                <th scope="row">{{i}}</th>
                                <td>{{r.title}}</td>
                                <td>{{r.quantity}}</td>
                                <td>{{r.career_id}}</td>
                                <td>{{r.salary}}</td>
                                <td>{{r.valid_date | date }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div bsModal #add="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới</h4>
                <button type="button" class="close" (click)="add.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body container ">
                <form [formGroup]="addFrom" class="row">
                    <div class="form-group col-12">
                        <label for="careersName">Tiêu đề(*)</label>
                        <input type="text" class="form-control" formControlName="title">
                    </div>
                    <div class="col-8 row">
                        <div class="form-group col-4">
                            <label for="careersName">Yêu cầu kinh nghiệm</label>
                            <select class="custom-select" formControlName="experience_required">
                                <option value="Chưa có kinh nghiệm">Chưa có kinh nghiệm</option>
                                <option value="1 năm kinh nghiệm">1 năm kinh nghiệm</option>
                                <option value="2 năm kinh nghiệm">2 năm kinh nghiệm</option>
                                <option value="3 năm kinh nghiệm">3 năm kinh nghiệm</option>
                                <option value="4 năm kinh nghiệm">4 năm kinh nghiệm</option>
                                <option value="5 năm kinh nghiệm">5 năm kinh nghiệm</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Trình độ học vấn</label>
                            <select class="custom-select" formControlName="education">
                                <option value="Chưa có kinh nghiệm">Chưa có kinh nghiệm</option>
                                <option value="Đại học">Đại học</option>
                                <option value="Cao đẳng">Cao đẳng</option>
                                <option value="Trung học phổ thông">Trung học phổ thông</option>
                                <option value="Trung học cơ sở">Trung học cơ sở</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Chức danh làm việc </label>
                            <select class="custom-select" formControlName="job_level">
                                <option *ngFor="let r of jobtitles" [value]="r.name">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Chức vụ làm việc</label>
                            <select class="custom-select" formControlName="form_of_work">
                                <option *ngFor="let r of jobpositions" [value]="r.name">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Loại ngành nghề</label>
                            <select class="custom-select" formControlName="career_id">
                                <option *ngFor="let r of careers" [value]="r.id">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Tỉnh/Thành phố</label>
                            <select class="custom-select" formControlName="city_province_id">
                                <option *ngFor="let r of city_province" [value]="r.id">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Mức lương</label>
                            <select class="custom-select" formControlName="salary">
                                <option value="3-5 triệu">3-5 triệu</option>
                                <option value="5-7 triệu">5-7 triệu</option>
                                <option value="7-10 triệu">7-10 triệu</option>
                                <option value="10-12 triệu">10-12 triệu</option>
                                <option value="12-15 triệu">12-15 triệu</option>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <label for="careersName">Ngày hết hạn</label>
                            <input class="input-group-text" type="date" [value]="now" formControlName="valid_date">
                        </div>
                        <div class="form-group col-3">
                            <label for="careersName">Số lượng</label>
                            <select class="custom-select" formControlName="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="careersName">Yêu cầu công việc</label>
                            <textarea cols="40" rows="3" formControlName="work_required"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="careersName">Quyền lợi</label>
                            <textarea cols="40" rows="3" formControlName="entitlements"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="careersName">Liên hệ</label>
                            <textarea cols="40" rows="2" formControlName="contact"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="careersName">Nội dung</label>
                            <textarea cols="118" rows="5" formControlName="description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="add.hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="[addNew(),add.hide()]">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal -->

<div bsModal #edit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin</h4>
                <button type="button" class="close" (click)="edit.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editFrom" class="row" *ngIf="Selected">
                    <div class="form-group col-12">
                        <label for="careersName">Tiêu đề(*)</label>
                        <input type="text" class="form-control" formControlName="title" [value]="Selected.title">
                    </div>
                    <div class="col-8 row">
                        <div class="form-group col-4">
                            <label for="careersName">Yêu cầu kinh nghiệm</label>
                            <select class="custom-select" formControlName="experience_required" [value]="Selected.experience_required">
                                <option value="Chưa có kinh nghiệm">Chưa có kinh nghiệm</option>
                                <option value="1 năm kinh nghiệm">1 năm kinh nghiệm</option>
                                <option value="2 năm kinh nghiệm">2 năm kinh nghiệm</option>
                                <option value="3 năm kinh nghiệm">3 năm kinh nghiệm</option>
                                <option value="4 năm kinh nghiệm">4 năm kinh nghiệm</option>
                                <option value="5 năm kinh nghiệm">5 năm kinh nghiệm</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Trình độ học vấn</label>
                            <select class="custom-select" formControlName="education" [value]="Selected.education">
                                <option value="Chưa có kinh nghiệm">Chưa có kinh nghiệm</option>
                                <option value="Đại học">Đại học</option>
                                <option value="Cao đẳng">Cao đẳng</option>
                                <option value="Trung học phổ thông">Trung học phổ thông</option>
                                <option value="Trung học cơ sở">Trung học cơ sở</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Chức danh làm việc </label>
                            <select class="custom-select" formControlName="job_level" [value]="Selected.job_level">
                                <option *ngFor="let r of jobtitles" [value]="r.name">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Chức vụ làm việc</label>
                            <select class="custom-select" formControlName="form_of_work" [value]="Selected.form_of_work">
                                <option *ngFor="let r of jobpositions" [value]="r.name">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Loại ngành nghề</label>
                            <select class="custom-select" formControlName="career_id" [value]="Selected.career_id">
                                <option *ngFor="let r of careers" [value]="r.id">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Tỉnh/Thành phố</label>
                            <select class="custom-select" formControlName="city_province_id" [value]="Selected.city_province_id">
                                <option *ngFor="let r of city_province" [value]="r.id">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="careersName">Mức lương</label>
                            <select class="custom-select" formControlName="salary" [value]="Selected.salary">
                                <option value="3-5 triệu">3-5 triệu</option>
                                <option value="5-7 triệu">5-7 triệu</option>
                                <option value="7-10 triệu">7-10 triệu</option>
                                <option value="10-12 triệu">10-12 triệu</option>
                                <option value="12-15 triệu">12-15 triệu</option>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <label for="careersName">Ngày hết hạn</label>
                            <input type="date" class="input-group-text" [value]="Selected.valid_date" formControlName="valid_date">
                        </div>
                        <div class="form-group col-3">
                            <label for="careersName">Số lượng</label>
                            <select class="custom-select" formControlName="quantity" [value]="Selected.quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="careersName">Yêu cầu công việc</label>
                            <textarea cols="40" rows="3" formControlName="work_required" [value]="Selected.work_required"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="careersName">Quyền lợi</label>
                            <textarea cols="40" rows="3" formControlName="entitlements" [value]="Selected.entitlements"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="careersName">Liên hệ</label>
                            <textarea cols="40" rows="2" formControlName="contact" [value]="Selected.contact"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="careersName">Nội dung</label>
                            <textarea cols="118" rows="5" formControlName="description" [value]="Selected.description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="[delete(Selected.id),edit.hide()]">Xóa</button>
                <button type="button" class="btn btn-secondary" (click)="edit.hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="[editSelected(),edit.hide()]">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>