<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-light float-left " role="button" aria-disabled="true" disabled>
                        <i class="fa fa-align-justify"></i> Danh sách ứng viên
                    </button>
                    <button type="button" class="btn btn-light float-right" (click)="add.show()">
                        Thêm mới
                    </button>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Họ tên</th>
                                <th scope="col">Email</th>
                                <th scope="col">Số điện thoai</th>
                                <th scope="col">Học vấn</th>
                                <th scope="col">Kinh nghiệm</th>
                                <th scope="col">Thời gian làm việc</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Tuổi</th>
                                <th scope="col">CV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of all, let i = index" (dblclick)="[edit.show(),getById(r.id)]">
                                <th scope="row">{{i}}</th>
                                <td>{{r.full_name}}</td>
                                <td>{{r.email}}</td>
                                <td>{{r.number}}</td>
                                <td>{{r.education}}</td>
                                <td>{{r.job_level}}</td>
                                <!-- Exp-lever -->
                                <td>{{r.time_of_work}}</td>
                                <td>{{r.gender}}</td>
                                <td>{{r.address}}</td>
                                <td>{{r.age}}</td>
                                <td>CV download</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div bsModal #add="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới</h4>
                <button type="button" class="close" (click)="add.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body container ">
                <form [formGroup]="addFrom" class="row">
                    <!-- <div class="col-5"> -->
                    <div class="form-group col-4">
                        <label for="careersName">Họ tên</label>
                        <input type="text" class="form-control" formControlName="full_name">
                    </div>
                    <div class="form-group col-3">
                        <label for="careersName">Độ tuổi</label>
                        <input type="text" class="form-control" formControlName="age">
                    </div>
                    <div class="form-group col-2">
                        <label for="careersName">Giới tính</label>
                        <input type="text" class="form-control" formControlName="gender">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Số điện thoại</label>
                        <input type="text" class="form-control" formControlName="number">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Nơi ở hiện tại</label>
                        <input type="text" class="form-control" formControlName="address">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Học vấn</label>
                        <input type="text" class="form-control" formControlName="education">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Kinh nghiệm làm việc</label>
                        <input type="text" class="form-control" formControlName="job_level">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Thời gian làm việc</label>
                        <input type="text" class="form-control" formControlName="time_of_work">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="add.hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="addNew()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal -->

<div bsModal #edit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin</h4>
                <button type="button" class="close" (click)="edit.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editFrom" class="row" *ngIf="Selected">
                    <div class="form-group col-4">
                        <label for="careersName">Họ tên</label>
                        <input type="text" class="form-control" formControlName="full_name" [value]="Selected.full_name">
                    </div>
                    <div class="form-group col-3">
                        <label for="careersName">Tuổi</label>
                        <input type="text" class="form-control" placeholder="18" formControlName="age" [value]="Selected.age">
                    </div>
                    <div class="form-group col-2">
                        <label for="careersName">Giới tính</label>
                        <input type="text" class="form-control" formControlName="gender" [value]="Selected.gender">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Email</label>
                        <input type="text" class="form-control" formControlName="email" [value]="Selected.email">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Số điện thoại</label>
                        <input type="text" class="form-control" formControlName="number" [value]="Selected.number">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Nơi ở hiện tại</label>
                        <input type="text" class="form-control" formControlName="address" [value]="Selected.address">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Học vấn</label>
                        <input type="text" class="form-control" formControlName="education" [value]="Selected.education">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Kinh nghiệm làm việc</label>
                        <input type="text" class="form-control" formControlName="job_level" [value]="Selected.job_level">
                    </div>
                    <div class="form-group col-4">
                        <label for="careersName">Thời gian làm việc</label>
                        <input type="text" class="form-control" formControlName="time_of_work" [value]="Selected.age" time_of_work>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="delete(Selected.id)">Xóa</button>
                <button type="button" class="btn btn-secondary" (click)="edit.hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="editSelected()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>